 :root {
  /* colors */
  --background : lightgrey;

  /* fonts */
  --body-font-family: 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  font-family: var(--body-font-family);
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 1 auto;
  display: flex;
}

footer {
  flex: 0 0 auto;
}

